@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@mixin laptop(){
    @media screen and (max-width: 1000px){
        @content;
    }
}
@mixin tablet(){
    @media screen and (max-width: 770px) {
        @content;
    }
}
@mixin mobile(){
    @media screen and (max-width: 480px) {
        @content;
    }
}
$dark: rgb(41, 41, 41);
$grey: rgb(85, 85, 85);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
a{
    text-decoration: none;
}
header{
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5rem;
        .logo{
            font-size: 2.2rem;
            color: $dark;
            span{
                font-weight: 600;
            }
        }
        .nav-links{
            display: flex;
            align-items: center;
            .contact{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 150px;
                height: 40px;
                border: black 1px solid;
                border-radius: 4px;
                font-size: 1rem;
                font-weight: 600;
                text-transform: uppercase;
                color: $dark;
                transition: 0.4s;
                @include tablet(){
                    display: none;
                }
                &:hover{
                    background-color: $dark;
                    color: whitesmoke;
                }
            }
            .burger{
                cursor: pointer;
                display: flex;
                flex-direction: column;
                margin-left: 20px;
                .line{
                    width: 25px ;
                    height: 2.2px;
                    margin: 3px 0;
                    background-color: black;
                }
            }
        }
        
    }
}
