@import 'common';
.hero{
    .hero-container{
        max-width: 1200px;
        width: 80%;
        margin: 100px auto;
        @include mobile(){
            width: 90%;
        }
        h1{
            font-size: 3.2rem;
            font-weight: 600;
            max-width: 620px;
            @include tablet(){
                font-size: 2.5rem;
            }
            @include mobile(){
                font-size: 1.7rem;
            }
        }
        p{
            font-size: 1.2rem;
            max-width: 620px;
            line-height: 1.5;
            margin: 30px 0;
            color: $grey;
        }
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 155px;
            height: 60px;
            border: rgba(89, 89, 189, 0.842) 1px solid;
            border-radius: 4px;
            background-color: #ffffff;
            color: rgba(0, 0, 255, 0.788);
            text-transform: uppercase;
            font-weight: 600;
            font-size: 1rem;
            transition: 0.4s;
            i{
                transition: 0.4s;
                margin-left: 10px;
            }
            &:hover{
                background-color: #4c77e0;
                color: white;
                width: 160px;
                i{
                    transform: translateX(5px);
                    
                }
            }
        }
    }
}
.facts{
    background-color: #fafafa;

    .flex{
        display: flex;
        width: 80%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 80px 0;
        @include tablet(){
            flex-direction: column;
            padding: 40px 0;
        }
        @include mobile(){
            width: 90%;
        }
        .flex-left{
            width: 50%;
            padding-right: 20px;
            margin-top: 100px;
            @include laptop(){
                margin-top: 70px;
            }
            @include tablet(){
               width: 100%;
               margin: 20px 0 30px 0;
            }
            h2{
                font-size: 2.2rem;
                color: $dark;
                font-weight: 600;
                @include tablet(){
                    margin-bottom: 10px;
                    font-size: 2rem;
                }
            }
            p{
                color: $grey;
                font-size: 1.1rem;
                line-height: 1.5;
            }
        }
        .flex-right-grid{
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 20px;
            column-gap: 20px;
            width: 50%;
            @include tablet(){
                width: 100%;
             }
            .box{
                width: 100%;
                height: 200px;
                padding: 20px;
                display: flex;
                
                align-items: center;
                flex-direction: column;
                box-shadow: 1px 5px 7.5px  #C4C4C433;
                border-radius: 7px ;
                background-color: white;
                i{
                    color: orangered;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #f1f6f5;
                    width: 60px;
                    height: 60px;
                    border-radius: 100%;
                    font-size: 1.5rem;
                    margin-bottom: 20px;
                }
                h4{
                    font-size: 2.5rem;
                    font-weight: 600;
                    margin-bottom: 10px;
                }
                span{
                    font-weight: 400;
                }
            }
        }
    }

}
.vision{
    background-color: #ffffff;
    padding: 80px 0;
    @include tablet(){
        padding: 40px 0;
    }
    .container{
        max-width: 1200px;
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include laptop(){
            justify-content: center;
        }
        @include tablet(){
            flex-direction: column;
            align-items: flex-start;
        }
        @include mobile(){
            width: 90%;
        }
        h2{
            width: 350px;
            font-size: 2.5rem;
            font-weight: 600;
            @include mobile(){
                width: 100%;
            }
        }
        p{
            font-size: 1.1rem;
            max-width: 620px;
            line-height: 1.5;
            color: $grey;
            @include laptop(){
                width: 450px;
            }
            @include mobile(){
                width: 100%;
            }
        }
    }
}
.features{
    .features-container{
        max-width: 1200px;
        margin: 0 auto;
        width: 80%;
        @include mobile(){
            width: 90%;
        }
        .feature{
            display: flex;
            margin-bottom: 100px;
            @include tablet(){
                flex-direction: column;
            }
            
            .text{
                width: 60%;
                padding: 60px 0;
                display: flex;
                flex-direction: column;
                
                padding-right: 120px;
                @include tablet(){
                    width: 100%;
                    padding: 0;
                }
                h2{
                    font-size: 2.7rem;
                    color: $dark;
                    font-weight: 600;
                    margin-bottom: 30px;
                    @include mobile(){
                        font-size: 2rem;
                    }
                }
                p{
                    font-size: 1.1rem;
                    max-width: 620px;
                    line-height: 1.5;
                    color: $grey;
                    margin-bottom: 30px;
                }
                ul{
                    list-style-type: none;
                    li{
                        margin: 20px 0;
                        font-size: 1rem;
                        font-weight: 500;
                        .fa{
                            color: #ffbca7;
                            font-size: 0.8rem;
                            margin-right: 5px;
                        }
                    }
                }
            }
        
                img{
                    border-radius: 7px;
                    object-fit: cover;
                    width: 40%;
                    min-height: 500px;
                    @include tablet(){
                        width: 100%;
                        max-height: 600px ;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            
        }
        .feature:nth-child(2){
            @include tablet(){
                flex-direction: column-reverse;
            }
            .text{
                padding: 60px 0 60px 120px;
                @include tablet(){
                    padding: 0;
                }
            }
        }   
    }
}
.team{
    position: relative;
    max-width: 1270px;
    width: calc(80% + 70px);
    margin: 0 auto;
    .carousel-container{
        margin: 80px auto;
        width: 90%;
        max-width: 1200px;
        overflow-x: hidden;
        scroll-behavior: smooth;
        @include mobile(){
            width: 90%;
        }
        .chevron{
            width: 30px;
            position: absolute;
            top: 30%;
            cursor: pointer;
            z-index: 1;
        }
        .chevron-left{
           left: 0px;
        }
        .chevron-right{
            right: 0px;
        }
        .carousel{
            display: flex;
            width: max-content;
            .member{
                width: 260px;
                height: 470px;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-right: 10px;
                &:hover{
                    img{
                        transform: scale(1.05);
                    }
                    a{
                        color: orangered;
                    }
                }
                img{
                    border-radius: 7px;
                    transition: 0.4s;
                    object-fit: cover;
                }
                a{
                    margin: 15px 0 3px 0;
                    font-size: 1.5rem;
                    font-weight: 600;
                    color: $dark;
                    transition: 0.3s;
                }
                span{
                    color: rgb(80, 80, 80);
                    margin-bottom: 10px;
                }
                .links{
                    display: flex;
                    a{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 10px;
                        width: 28;
                        height: 28px;
                        border-radius: 100%;
                        background-color: rgb(255, 236, 239);
                        transition: 0.3s;
                        &:nth-child(1):hover{
                            background-color: darkslateblue;
                            i{
                                color: white;
                            }
                        }
                        &:nth-child(2):hover{
                            background-color: rgb(17, 167, 218);
                            i{
                                color: white;
                            }
                        }
                        i{
                            font-size: 0.7rem;
                            color: orangered;
                            
                        }
                    }
                }

            }

        }
    }
}