@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

a {
  text-decoration: none;
}

header {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  position: relative;
}

header nav .logo {
  font-size: 2.2rem;
  color: #292929;
}

header nav .logo span {
  font-weight: 600;
}

header nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .nav-links .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 40px;
  border: black 1px solid;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #292929;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media screen and (max-width: 770px) {
  header nav .nav-links .contact {
    display: none;
  }
}

header nav .nav-links .contact:hover {
  background-color: #292929;
  color: whitesmoke;
}

header nav .nav-links .burger {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 25px;
  z-index: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
}

header nav .nav-links .burger div {
  width: 25px;
  height: 2.2px;
  margin: 3px 0;
  background-color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header nav .nav-links .burger .l1 {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

header nav .nav-links .burger .l2 {
  opacity: 0;
}

header nav .nav-links .burger .l3 {
  -webkit-transform: rotate(-45deg) translate(11px, -11.7px);
          transform: rotate(-45deg) translate(11px, -11.7px);
}

header nav .nav-links .burger-active {
  position: fixed;
  left: 80%;
}

header .nav-slider {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  z-index: 5;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .nav-slider ul {
  list-style: none;
}

header .nav-slider ul a {
  color: black;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 0;
  display: block;
}

header .nav-slider-active {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  position: fixed;
}

.parallax {
  width: 100%;
  height: 350px;
  margin: auto;
  background: url(../images/g2.jpg);
  background-attachment: fixed;
  background-position: left;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.parallax .darker {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.parallax .container {
  z-index: 1;
  max-width: 1000px;
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1000px) {
  .parallax .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.parallax .container .text h2 {
  font-size: 2.5rem;
  font-weight: 600;
  color: white;
  width: 620px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1000px) {
  .parallax .container .text h2 {
    width: 100%;
    font-size: 1.8rem;
  }
}

.parallax .container .text p {
  color: white;
  font-size: 0.9rem;
}

.parallax .container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 60px;
  color: black;
  background-color: whitesmoke;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.parallax .container a:hover {
  background-color: #dfdfdf;
}

.parallax .container a span {
  margin-right: 8px;
  font-size: 0.8rem;
}

@media screen and (max-width: 1000px) {
  .parallax .container a {
    margin-top: 50px;
  }
}

footer .footer-flex {
  padding: 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1100px;
  width: 85%;
  margin: 0 auto;
}

@media screen and (max-width: 770px) {
  footer .footer-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 70%;
  }
}

@media screen and (max-width: 480px) {
  footer .footer-flex {
    width: 90%;
  }
}

footer .footer-flex h4 {
  font-size: 1.3rem;
  color: #292929;
  font-weight: 600;
  margin-bottom: 30px;
}

footer .footer-flex .left {
  width: 50%;
}

@media screen and (max-width: 770px) {
  footer .footer-flex .left {
    width: 100%;
  }
}

footer .footer-flex .left ul {
  list-style: none;
  max-width: 80%;
}

footer .footer-flex .left ul li {
  margin: 15px 0;
  color: #777777;
  line-height: 2;
}

footer .footer-flex .left ul li a {
  text-decoration: underline;
  color: #777777;
}

footer .footer-flex .left ul li span {
  margin-right: 10px;
}

footer .footer-flex .left .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-flex .left .social-media a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  width: 28;
  height: 28px;
  border-radius: 100%;
  background-color: #fff0f2;
}

footer .footer-flex .left .social-media a span {
  font-size: 0.7rem;
  color: orangered;
}

footer .footer-flex .right {
  width: 50%;
}

@media screen and (max-width: 770px) {
  footer .footer-flex .right {
    margin-top: 50px;
    width: 100%;
  }
}

footer .footer-flex .right p {
  color: #555555;
  margin-bottom: 30px;
}

footer .footer-flex .right .email-box {
  width: 100%;
  height: 55px;
  border: grey 1px solid;
  border-radius: 4px;
  padding: 15px;
  position: relative;
}

footer .footer-flex .right .email-box input[type=text] {
  width: 80%;
  border: none;
  height: 100%;
  font-size: 1rem;
}

footer .footer-flex .right .email-box span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 15px;
  cursor: pointer;
  padding: 15px;
}

footer .footer-bottom {
  margin: 0 auto;
  max-width: 1100px;
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

@media screen and (max-width: 770px) {
  footer .footer-bottom {
    width: 70%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 480px) {
  footer .footer-bottom {
    width: 90%;
    margin-bottom: 50px;
  }
}

footer .footer-bottom span {
  font-size: 0.9rem;
  margin-right: 20px;
  text-align: center;
}

@media screen and (max-width: 770px) {
  footer .footer-bottom span {
    margin-bottom: 20px;
  }
}

footer .footer-bottom .links a {
  color: #555555;
  font-weight: 600;
  font-size: 0.9rem;
  margin: 0 7px;
}

.hero .hero-container {
  max-width: 1200px;
  width: 90%;
  margin: 100px auto;
}

.hero .hero-container h1 {
  font-size: 3.2rem;
  font-weight: 600;
  max-width: 620px;
}

@media screen and (max-width: 770px) {
  .hero .hero-container h1 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 480px) {
  .hero .hero-container h1 {
    font-size: 1.7rem;
  }
}

.hero .hero-container p {
  font-size: 1.2rem;
  max-width: 620px;
  line-height: 1.5;
  margin: 30px 0;
  color: #555555;
}

.hero .hero-container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 155px;
  height: 60px;
  border: rgba(89, 89, 189, 0.842) 1px solid;
  border-radius: 4px;
  background-color: #ffffff;
  color: rgba(0, 0, 255, 0.788);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.hero .hero-container a i {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-left: 10px;
}

.hero .hero-container a:hover {
  background-color: #4c77e0;
  color: white;
  width: 160px;
}

.hero .hero-container a:hover i {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.facts {
  background-color: #fafafa;
}

.facts .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 0;
}

@media screen and (max-width: 770px) {
  .facts .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 0;
  }
}

.facts .flex .flex-left {
  width: 50%;
  padding-right: 20px;
  margin-top: 100px;
}

@media screen and (max-width: 1000px) {
  .facts .flex .flex-left {
    margin-top: 70px;
  }
}

@media screen and (max-width: 770px) {
  .facts .flex .flex-left {
    width: 100%;
    margin: 20px 0 30px 0;
  }
}

.facts .flex .flex-left h2 {
  font-size: 2.2rem;
  color: #292929;
  font-weight: 600;
}

@media screen and (max-width: 770px) {
  .facts .flex .flex-left h2 {
    margin-bottom: 10px;
    font-size: 2rem;
  }
}

.facts .flex .flex-left p {
  color: #555555;
  font-size: 1.1rem;
  line-height: 1.5;
}

.facts .flex .flex-right-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  width: 50%;
}

@media screen and (max-width: 770px) {
  .facts .flex .flex-right-grid {
    width: 100%;
  }
}

.facts .flex .flex-right-grid .box {
  width: 100%;
  height: 200px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 1px 5px 7.5px  #C4C4C433;
          box-shadow: 1px 5px 7.5px  #C4C4C433;
  border-radius: 7px;
  background-color: white;
}

.facts .flex .flex-right-grid .box i {
  color: orangered;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f1f6f5;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.facts .flex .flex-right-grid .box h4 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.facts .flex .flex-right-grid .box span {
  font-weight: 400;
}

.vision {
  background-color: #ffffff;
  padding: 80px 0;
}

@media screen and (max-width: 770px) {
  .vision {
    padding: 40px;
  }
}

.vision .container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1000px) {
  .vision .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 770px) {
  .vision .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.vision .container h2 {
  width: 350px;
  font-size: 2.5rem;
  font-weight: 600;
}

.vision .container p {
  font-size: 1.1rem;
  max-width: 620px;
  line-height: 1.5;
  color: #555555;
}

@media screen and (max-width: 1000px) {
  .vision .container p {
    width: 450px;
  }
}

.features .feature-containter .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features .feature-containter .feature .text {
  width: 50%;
}
/*# sourceMappingURL=about.css.map */